{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "ignite-ignore-reactotron", "module-resolver",
      {
        "extensions": ["ts"],
        "alias": {
          "@heimdallr/services/CallCenter": "libs/services/src/CallCenter/index.ts"
        }
      }
    ]
  ]
}
