{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "macros",
      "module-resolver",
      {
        "alias": {
          "@heimdallr/services/CallCenter": "./../../libs/services/src/CallCenter/index.ts"
        }
      }
    ]
  ]
}
